{% extends './base.html' %} {% block title %}Home{% endblock %}
{% block content %}
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">HCPSLMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Actions
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/view-books/">View books</a></li>
                            <li><a class="dropdown-item" href="/view-authors/">View authors</a></li>
                            <li><a class="dropdown-item" href="/view-publication/">View publications</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="container">
    <div>
        <a href="/add-issue/" class="btn btn-primary">
            Add issue
        </a>
    </div>
    <section>
        <h1> Issued books </h1>
        {% for company in companies %}
        <div class="card mt-2">
            <div class="card-header">
                <strong>{{ company.company_name }}</strong>
            </div>
            <div class="card-body d-flex flex-row justify-content-between">
                <div>
                    <h5 class="card-title">{{ company.VAT_ID }}</h5>
                    <p>{{ company.description }}</p>
                </div>

                <div>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" value="{{company.id}}" name="company-id"
                            id="company-id">Delete</button>
                        <a href="{% url 'Company dashboard' slug=company.company_link %}" class="btn btn-primary">
                            View Dashboard
                        </a>
                    </form>
                </div>
            </div>

            <div class="card-footer text-muted">
                {{company.created_at}}
            </div>
        </div>
        {% empty %}
        <p>No issued books to collect today</p>
        {% endfor %}
    </section>

    <section>
        <h1> Overdue issued books </h1>
        {% for company in companies %}
        <div class="card mt-2">
            <div class="card-header">
                <strong>{{ company.company_name }}</strong>
            </div>
            <div class="card-body d-flex flex-row justify-content-between">
                <div>
                    <h5 class="card-title">{{ company.VAT_ID }}</h5>
                    <p>{{ company.description }}</p>
                </div>

                <div>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" value="{{company.id}}" name="company-id"
                            id="company-id">Delete</button>
                        <a href="{% url 'Company dashboard' slug=company.company_link %}" class="btn btn-primary">
                            View Dashboard
                        </a>
                    </form>
                </div>
            </div>

            <div class="card-footer text-muted">
                {{company.created_at}}
            </div>
        </div>
        {% empty %}
        <p>No issued books to collect today</p>
        {% endfor %}
    </section>
</div>
{% endblock %}