{% extends './base.html' %} {% block title %}View Content{% endblock %}
{% block content %}
<div class="container">
    <div class='my-3'>
        <a href="/add-book/" class="btn btn-primary">
            Add book
        </a>
    </div>
    <div class='my-3'>
        <a href="/add-author/" class="btn btn-primary">
            Add Author
        </a>
    </div>
        <div class='my-3'>
        <a href="/add-publication/" class="btn btn-primary">
            Add Publication
        </a>
    </div>
    <section>
        <h1>Content</h1>
        {% for company in companies %}
        <div class="card mt-2">
            <div class="card-header">
                <strong>{{ company.company_name }}</strong>
            </div>
            <div class="card-body d-flex flex-row justify-content-between">
                <div>
                    <h5 class="card-title">{{ company.VAT_ID }}</h5>
                    <p>{{ company.description }}</p>
                </div>

                <div>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" value="{{company.id}}" name="company-id"
                            id="company-id">Delete</button>
                        <a href="{% url 'Company dashboard' slug=company.company_link %}" class="btn btn-primary">
                            View Dashboard
                        </a>
                    </form>
                </div>
            </div>

            <div class="card-footer text-muted">
                {{company.created_at}}
            </div>
        </div>
        {% empty %}
        <p>No issued book to collect today, add <a href='/add-book/'>Book</a> <a href='/add-publication/'>Publication</a> <a href='/add-author/'>Author</a></p>
        {% endfor %}
    </section>
</div>
{% endblock %}